/* the * is universal so it applies to everything. the default margins were causing a blank part peeking
above the page, and resetting the margins made the header be at the very top of the page. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* arranges items vertically, aligning them to the center */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* adds a purple header at the top, displaying 'course study guide links' */

  header {
    background-color: rgb(126, 1, 126);
    color: white;
    width: 100%;
    padding:  2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

/* makes the background pink, aligns text in it to the center */

  .container {
    background: rgb(250, 188, 198);
    padding: 1rem;
    width: 100%;
    min-height: 100vh; /*to extend the pink bg until the end of the page */
    text-align: center;
  }

/* aligns headings to the center within their container */

h1 {
    text-align: center;
    margin-top: 1rem; /* margin top & bottom makes the font spaced 1rem above the items above/below */
    margin-bottom: 1rem;
    color: rgb(124, 25, 163);
}

/* arranges items vertically, aligning them to the center within the container */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* adding padding, a border, and spacing for a margin to bring attention to the button */

input[type="file"] {
    padding: 20px;
    border: 3px solid rgb(40, 38, 38);
    background: rgb(211, 111, 199);
    margin: 1rem;
}

/* makes the 'upload' button black, the font white, changes size of font and the box's padding */

button {
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* changes the box's color to grey when hovering on it */

button:hover {
    background-color: grey;
}

/*makes circle bullet points for each link to a file uploaded */

ul {
    list-style-type: circle;
}

/* adds spacing between links in the list to make it cleaner */

ul li {
    margin: 10px;
}

/* makes the color of the links blue */

ul li a {
    color: blue;
}

/* makes the color of the links a different color when hovering */

ul li a:hover {
    color: rgb(85, 85, 236);
}